# Remplacez par votre clé API OpenAI
OPENAI_API_KEY = "votre-clé-api-openai"

# Chemin vers le fichier JSON Firebase
FIREBASE_JSON_PATH = "auth_firebase/votre-fichier-firebase.json"

# Pour le déploiement sur Streamlit Share
# FIREBASE_CREDENTIALS_BASE64 = "votre-json-firebase-encodé-en-base64" 